
@{
    ViewBag.Title = "EmpReg";
}

<h2>Add Employee</h2>

<form method="post">

    Name: <input type="text" name="Name" placeholder="Name" class="form-control" />


    Address: <input type="text" name="Contact" placeholder="Contact" class="form-control" />


    Contact: <input type="text" name="Address" placeholder="Address" class="form-control" />


    Password: <input type="text" name="Password" placeholder="Password" class="form-control" />


    <input type="submit" value="Add" class="btn btn-success" />
</form>