
@{
    ViewBag.Title = "Assign";
}

<h2>Assign Employee</h2>
<form method="post">


    EmployeeId: <input type="text" name="EmployeeId" placeholder="EmployeeId" class="form-control" />


    <input type="submit" value="Assign" class="btn btn-success" />
</form>
