
@{
    ViewBag.Title = "resReg";
}

<h2>Restaurant Registartion </h2>

<form method="post">

    Name: <input type="text" name="Name" placeholder="Name" class="form-control" />


    Address: <input type="text" name="Address" placeholder="Address" class="form-control" />
  

    Contact: <input type="text" name="Contact" placeholder="Contact" class="form-control" />
 

    Password: <input type="text" name="Password" placeholder="Password"  class="form-control" />
   

    <input type="submit" value="Register" class="btn btn-success" />
</form>