
@{
    ViewBag.Title = "CreateRequest";
}

<h2>Create Collect Request</h2>
<form method="post">
    Details of Food : <input type="text" name="FoodItem" class="form-control" />
    Request date: <input type="date" name="RequestDate" /> <br />
    Expiration date: <input type="date" name="ExpirationDate" /> <br />
    Restaurant Id: <input type="text" name="RestaurantId" class="form-control" />
    <input type="submit" value="Create Collect Request" class="btn btn-success" />
</form>


